* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
    background: rgb(255, 242, 225);
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

nav {
    display: flex;
    height: 60px;
    margin: auto;
    position: sticky;
    position: -webkit-sticky;
    background-color: rgba(10, 17, 40, 0.8);
    backdrop-filter: blur(16px) saturate(120%);
    z-index: 100;
    font-family: "Gloria Hallelujah", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    transition: .8s ease-in-out;
}

.list-nav {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.logo img {
    width: 100px;
    height: 50px;
}

.contact {
    color: white;
    font-size: 15px;
    border-radius: 30px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(18, 130, 162, 1);
}

/* This is home page */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center ;
}

.container h1 {
    margin-top: 150px;
    font-size: 70px;
}

section {
    color:  black;
}
