* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

nav {
    display: flex;
    height: 60px;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: rgba(10, 17, 40, 0.8);
    backdrop-filter: blur(16px) saturate(120%);
    z-index: 100;
    font-family: "Gloria Hallelujah", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    overflow: hidden;
    margin: 0px 20px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    transition: .8s ease-in-out;
}

.list-nav {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.logo img {
    width: 100px;
    height: 50px;
}

.button a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #0a0dc0 , #5B42FF 50%, #26ccf5 100%);
    display: inline-block; 
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.button a:hover {
    transform: translateY(1px);
    padding: 10px 20px;
    background-color: rgba(108, 117, 107, 1);
    transition: 0.2s ease-in-out;
}

/* This is home page */
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

section {
    position: relative;
}

section .container{
    background: radial-gradient(circle,rgba(207, 245, 255, 1) 0%, rgba(247, 250, 255, 1) 2%, rgba(211, 230, 235, 1) 78%, rgba(185, 216, 237, 1) 100%)
}
    
section h1 {
    font-size: 50px;   
}

section h1 span {
  color: #AB46F2;
  background-image: linear-gradient(45deg, #0a0dc0 , #5B42FF 50%, #26ccf5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}