* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

nav {
    display: flex;
    height: 60px;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: rgba(51, 68, 67, 0.75);
    backdrop-filter: blur(16px) saturate(120%);
    z-index: 100;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    overflow: hidden;
    margin: 0px 20px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    transition: .8s ease-in-out;
}

.list-nav {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.logo img {
    width: 100px;
    height: 50px;
}

.button a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(90deg, #bfa555,#d3b867,#eace7c);
    display: inline-block; 
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.button a:hover {
    transform: translateY(2px);
    transition: 0.2s ease-in-out;
}

/* This is home page */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
}

section .container{
    background: radial-gradient(circle, rgb(255, 250, 232) 2%, rgb(228, 213, 161) 78%, rgb(204, 188, 117) 100%)
}
    
section h1 {
    font-size: 50px; 
    padding: 30px 0px;
}

section h1 span {
  background-image: -webkit-linear-gradient(90deg, #f6d32d,#ffa348,#d1b433);                          
  background-image: linear-gradient(90deg, #ebc400,#ffa348,#d1b433);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

section .button a {
    font-size: 18px;
}

/* this id about page */
#about .container {
    background: rgb(253, 253, 253);
}

#about h1 {
    font-size: 40px;
}

#about .about-company {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin: 30px 0;
}

.about-company p {
    text-align: justify;
    font-size: 20px;
    width: 250px;
}

.about-company img {
    width: 40vh;
    height: 60vh;
    border-radius: 60px;
}

article {
    color: #000000;
}

.tutorial-text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.tutorial-text h2 {
    background-color: #ffffff;
    padding: 13px 20px;
    border-radius: 50%;
    -webkit-box-shadow: inset 4px 4px 15px -5px #000000, -31px -28px 18px -10px rgba(0,0,0,0); 
    box-shadow: inset 4px 4px 11px -5px #000000, -31px -28px 18px -10px rgba(0,0,0,0);
}

.tutorial-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(250, 234, 177);
    margin: 10px;
    width: 75vh;
    padding: 20px 20px;
    border-radius: 25px;
}

.tutorial-box img {
    width: 25%;
    height: 25%;
}

/* this is product page */
#product .container {
    background: rgb(250, 234, 177);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    overflow: hidden;
    padding: 50px 40px;
}

#product h1 {
    margin-bottom: 60px;
}

.scroll-card {
    display: flex;
    gap: 30px; 
    width: 100%;
    max-width: 1200px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    display: flex;
    padding: 40px 40px; 
}

.scroll-card::-webkit-scrollbar {
    display: none;
}

.card-product {
    max-width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    background-color: rgba(247, 250, 255, 0.5);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.card-product:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transform: scale(1.09) translateY(-4px);
    z-index: 10;
    transition: 0.3s ease-in-out;
    box-shadow: 11px 18px 10px -9px rgba(0,0,0,0.61);
    -webkit-box-shadow: 11px 18px 10px -9px rgba(0,0,0,0.61);
    -moz-box-shadow: 11px 18px 10px -9px rgba(0,0,0,0.61);
}

.card-product h4 {
    padding-top: 10px;
    border-top: 1px solid rgb(0, 0, 0);
}


/* this is footer */
footer .container {
    background: rgb(51, 68, 67);
    min-height: 50vh;
    display: flex;
    gap: 50px;
    padding: 50px 30px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    color: #ffffff;
    text-align: left;
}

footer P {
    width: 200px;
    margin-top: 10px;
}

.foot-content iframe {
    margin-top: 10px;
    width: 250px;
    height: 200px;  
    border: 0;
}

footer a {
    margin-top: 10px;
    font-size: 12px;
}

.foot-button {
    max-width: fit-content;
    font-weight: bold;
    font-size: 13px;
    margin-top: 7px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(201, 201, 201);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.foot-button a {
    color: #000000;   
}

.foot-button:hover {
    transform: translateY(2px);
    transition: 0.2s ease-in-out;
}

.copyright {
    width: 100%;
    padding: 4px 0;
    color: #ffffff;
    background-color: rgb(36, 48, 47);
}
