* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
    background: url(img/ChatGPT\ ImageBackground.png);
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #000000;
    width: 95%;
    height: 65px;
    border-radius:20px;
    margin: auto;
    position: sticky;
    position: -webkit-sticky;
    background: #ffffff1a;
    background-color: #000000;
    opacity: .8;
    border: 1px solid #ffffff20;
    backdrop-filter: blur(16px) saturate(120%);
    top: 0px;
    margin-top: 15px;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
    font-family: "Gloria Hallelujah", cursive;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: .8s ease-in-out;
}

nav ul li a:hover {
    transition: .8s ease-in-out;
    text-decoration: underline;
}

.logo img {
    display: flex;
    width: 128px;
    height: 72px;
    margin: 0px 20px 0px 20px;
}

/* This is home page */
.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center ;
}

.container h1 {
    margin-top: 150px;
    font-size: 70px;
}

section {
    color: #ffffff;
}
