* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 90%; 
    margin: 0 auto;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

nav {
    display: flex;
    height: 60px;
    margin: auto;
    position: fixed;
    width: 100%;
    background-color: rgba(10, 17, 40, 0.8);
    backdrop-filter: blur(16px) saturate(120%);
    z-index: 100;
    font-family: "Gloria Hallelujah", cursive;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    overflow: hidden;
    margin: 0px 20px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    transition: .8s ease-in-out;
}

.list-nav {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.logo img {
    width: 100px;
    height: 50px;
}

.button a {
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border-radius: 30px;
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #0a0dc0 , #5B42FF 50%, #26ccf5 100%);
    display: inline-block; 
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.button a:hover {
    transform: translateY(2px);
    transition: 0.2s ease-in-out;
}

/* This is home page */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

section .container{
    background: radial-gradient(circle,rgba(207, 245, 255, 1) 0%, rgba(247, 250, 255, 1) 2%, rgba(211, 230, 235, 1) 78%, rgba(185, 216, 237, 1) 100%)
}
    
section h1 {
    font-size: 50px; 
    padding: 30px 0px;
}

section h1 span {
  color: #AB46F2;
  background-image: linear-gradient(45deg, #0a0dc0 , #5B42FF 50%, #26ccf5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

section .button a {
    font-size: 18px;
}

/* this id about page */
#about .container {
    background: rgb(253, 253, 253);
}

#about h1 {
    font-size: 40px;
}

#about article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#about p {
    text-align: justify;
    font-size: 20px;
    width: 250px;
}

#about article img {
    width: 25%;
    height: 25%;
    border-radius: 60px;
}

/* this is product page */
#product .container {
    background: linear-gradient(180deg, rgb(208, 236, 255) 0%, rgb(84, 113, 124) 100%);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    overflow: hidden;
    padding: 50px 40px;
}

#product h1 {
    margin-bottom: 60px;
}

.scroll-card {
    display: flex;
    gap: 30px; 
    width: 100%;
    max-width: 1200px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    display: flex;
    padding: 40px 40px; 
}

.scroll-card::-webkit-scrollbar {
    display: none;
}

.card-product {
    max-width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 20px;
    background-color: rgba(247, 250, 255, 0.5);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.card-product:hover {
    background-color: rgba(255, 255, 255, 0.75);
    transform: scale(1.1) translateY(-4px);
    z-index: 10;
    transition: 0.3s ease-in-out;
}

.card-product h4 {
    padding-top: 10px;
    border-top: 1px solid rgb(0, 0, 0);
}


/* this is footer */
footer {
    background: rgba(139, 140, 137, 1);
    min-height: 50vh;
    display: flex;
    gap: 50px;
    padding: 50px 30px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer P {
    width: 200px;
    margin-top: 10px;
}

.foot-content iframe {
    margin-top: 10px;
    width: 250px;
    height: 200px;  
    border: 0;
}

footer a {
    margin-top: 10px;
    font-size: 12px;
}

.foot-button {
    max-width: fit-content;
    font-weight: bold;
    font-size: 13px;
    margin-top: 7px;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(201, 201, 201);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.foot-button a {
    color: #000000;   
}

.foot-button:hover {
    transform: translateY(2px);
    transition: 0.2s ease-in-out;
}
