* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F1F1F1;
}

/* This is navigation bar */
.nav-container {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background-color: #000000;
    width: 95%;
    height: 65px;
    margin: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
}

nav ul {
    display: flex;
    list-style-type: none;
    float: right;
    overflow: hidden;
    margin: 0px 20px 0px 20px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
}

.logo img {
    display: flex;
    width: 128px;
    height: 72px;
    margin: 0px 20px 0px 20px;
}